{% extends "base.html" %}
{% block body %}

<div class="docs-section">
<h6 class="docs-header">关于我们</h6>
<p>
该网站由李泳负责后端开发，徐锴负责前端设计，共同完成。<br>
我们是目前已经在利物浦 CSEE 专业的 Final Year 学生。<br>
这个网站使用 giffgaff 的推广计划，免费分发 SIM 卡给同学们。<br>
下面是我们的联系信息，有任何疑问的话，欢迎联系我们！
</p>
<div class="container">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <div class="row">
        <div class="six columns">
            <h5>李泳</h5>

            <p>
            <img class="photo" src="static/image/yong.jpg"/>
            </p>

            <p>微博：
            <wb:follow-button uid="2327892814" type="red_3" width="100%" height="24" ></wb:follow-button>
            </p>

            <p>邮箱：<br>
            yong.li1992@foxmail.com
            </p>

            <p>网站：<br>
            <a href="http://blog.yongli1992.com/" target="_blanket">YongLi's Blog</a>
            </p>

        </div>
        <div class="six columns">
            <h5>徐锴</h5>

            <p>
            <img class="photo" src="static/image/kai.jpg"/>
            </p>

            <p>
            微博：<wb:follow-button uid="2290166170" type="red_3" width="100%" height="24"></wb:follow-button>
            </p>

            <p>邮箱：<br>
            xukai921110@gmail.com
            </p>

            <p>网站：<br>
            <a href="http://xuk.ai/" target="_blanket">Kai Xu</a>
            </p>
        </div>
  </div>
</div>

</div>

{% endblock %}
