{% extends "base.html" %}
{% block body %}

<nav class="navbar-guide">
<div>
  <ul>
    <li><a class="navbar-link-guide" href="#guide_1">1. 开始激活</a></li>
    <li><a class="navbar-link-guide" href="#guide_2">2. 输入卡号</a></li>
    <li><a class="navbar-link-guide" href="#guide_3">3. 注册账号</a></li>
    <li><a class="navbar-link-guide" href="#guide_4">4. 选择套餐或余额</a></li>
    <li><a class="navbar-link-guide" href="#guide_5">5. 选择金额</a></li>
    <li><a class="navbar-link-guide" href="#guide_6">6. 填写个人信息</a></li>
    <li><a class="navbar-link-guide" href="#guide_7">7. 设置自动充值</a></li>
    <li><a class="navbar-link-guide" href="#guide_8">8. 付款</a></li>
  </ul>
</div>
</nav>

<h6 class="docs-header">激活教程</h6>

<img class="guide" id="guide_1" src="static/image/1g.png"/>
<img class="guide" id="guide_2" src="static/image/2g.png"/>
<img class="guide" id="guide_3" src="static/image/3g.png"/>
<img class="guide" id="guide_4" src="static/image/4g.png"/>
<img class="guide" id="guide_5" src="static/image/5g.png"/>
<img class="guide" id="guide_6" src="static/image/6g.png"/>
<img class="guide" id="guide_7" src="static/image/7g.png"/>
<img class="guide" id="guide_8" src="static/image/8g.png"/>

{% endblock %}
