{% extends "base.html" %}
{% block body %}
<nav class="navbar-guide">
<div>
  <ul>
    <li><a class="navbar-link-guide" href="#guide_0">0. 简介</a></li>
    <li><a class="navbar-link-guide" href="#guide_1">1. 开始激活</a></li>
    <li><a class="navbar-link-guide" href="#guide_2">2. 输入卡号</a></li>
    <li><a class="navbar-link-guide" href="#guide_3">3. 注册账号</a></li>
    <li><a class="navbar-link-guide" href="#guide_4">4. 选择套餐或余额</a></li>
    <li><a class="navbar-link-guide" href="#guide_5">5. 选择金额</a></li>
    <li><a class="navbar-link-guide" href="#guide_6">6. 填写个人信息</a></li>
    <li><a class="navbar-link-guide" href="#guide_7">7. 设置自动充值</a></li>
    <li><a class="navbar-link-guide" href="#guide_8">8. 付款</a></li>
  </ul>
</div>
</nav>


<h1 class="docs-header">Step 0: 简介</h1>
<p id="guide_0">
    为了正常使用，请跟随我们的教程激活您的 giffgaff 电话卡。<br>
    激活后立即获得 giffgaff 官方赠送的 5 磅话费。
    <br><br>
    giffgaff 的费用分为两部分，即 goodybag 和 air credit。前者为套餐月租费，后者是卡内的自由话费。套餐月租费每月都要从您填写的银行卡上扣取，不会自动从 air credit中扣取。
    当您的当月使用量超过 goodybag 涵盖标准时，超额费用将从 air credit 中扣取。当您往中国打电话发短信时，每次扣取的也是 air credit 话费。
</p>

<div class="docs-section">
    <h1 class="docs-header">Step 1: 开始激活</h1>
    <img class="guide" id="guide_1" src="static/image/1.png"/>
</div>

<div class="docs-section">
    <h1 class="docs-header">Step 2: 输入卡号</h1>
    <img class="guide" id="guide_2" src="static/image/2.png"/>
</div>

<div class="docs-section">
    <h1 class="docs-header">Step 3: 注册账号</h1>
    <img class="guide" id="guide_3" src="static/image/3.png"/>
</div>

<div class="docs-section">
    <h1 class="docs-header">Step 4: 选择套餐或余额</h1>
    <p>注意，此处选择 goodybag 的话当月套餐即刻生效。如果您只是想先获取号码或测试一下，可以先充值 air credit，用多少算多少，等到了英国再开启套餐。</p>
    <img class="guide" id="guide_4" src="static/image/4.png"/>
</div>

<div class="docs-section">
    <h1 class="docs-header">Step 5: 选择金额</h1>
    <img class="guide" id="guide_5" src="static/image/5.png"/>
</div>

<div class="docs-section">
    <h1 class="docs-header">Step 6: 填写个人信息</h1>
    <img class="guide" id="guide_6" src="static/image/6.png"/>
</div>

<div class="docs-section">
    <h1 class="docs-header">Step 7: 设置自动充值</h1>
    <img class="guide" id="guide_7" src="static/image/7.png"/>
</div>

<div class="docs-section">
    <h1 class="docs-header">Step 8: 付款</h1>
    <img class="guide" id="guide_8" src="static/image/8.png"/>
</div>

{% endblock %}
