{% extends "base.html" %}
{% block body %}

<div class="docs-section">

{# 先处理错误信息 #}
{% if errors %}
<div class="error-msg">
    <ul>
        {% for error_msg in errors %}
            <li>{{ error_msg }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if not session['admin_flag'] %}
    <!-- 未登录为管理员，给出登陆表单 -->
    <form action="admin" method="POST">
        <p>管理账号：<input type="text" name="username" required/></p>
        <p>管理密码：<input type="password" name="password" required/></p>
        <input type="submit" value="查询">
    </form>
{% elif not results%}
    <p>还没有任何订单</p>
{% else %}
    <h6 class="docs-header">统计信息</h6>
    <table>
        <thead>
            <tr>
                <td>订单总数</td>
                <td>Nano卡总数</td>
                <td>Micro卡总数</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stats['count'] }}</td>
                <td>{{ stats['nano_total']}}</td>
                <td>{{ stats['micro_total']}}</td>
            </tr>
        </tbody>
    </table>

    <h6 class="docs-header">详细信息</h6>
    <table>
        <thead>
            <tr>
                <td>邮箱</td>
                <td>姓名</td>
                <td>电话</td>
                <td>Nano</td>
                <td>Micro</td>
                <td>时间</td>
            </tr>
        </thead>
        {% for result in results%}
            <tr>
                <tbody>
                    <td>{{result[1]}}</td>
                    <td>{{result[2]}}</td>
                    <td>{{result[3]}}</td>
                    <td>{{result[4]}}</td>
                    <td>{{result[5]}}</td>
                    <td>{{result[6][5:]}}</td>
                </tbody>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}

</div>
