{% extends "base.html" %}
{% block body %}

<div class="docs-section">
<h6 class="docs-header">订单查询</h6>
<p>输入您预留的邮箱地址，查询预定状态。</p>

<!-- 处理表单错误信息 -->
{% if errors %}
<div class="error-msg">
    <ul>
        {% for error_msg in errors %}
            <li>{{ error_msg }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form action="enquiry" method="GET">
    <label>邮箱</label>
    <input type="text" name="email"/>
    <input type="submit" value="查询">
</form>

<!-- 查询结果 -->
{% if main_msg %}
    <div class="{{ msg_type }}-msg">
        <ul>
            <li>{{ main_msg }}</li>
        </ul>
    </div>
{% endif %}

{% if result %}
    如果您提交的信息有误，或者想更改提单，请删除后重新申请。
    <table>
        <thead>
            <tr>
                <td>邮箱</td>
                <td>姓名</td>
                <td>电话</td>
                <td>Nano卡数量</td>
                <td>Micro卡数量</td>
                <td>提交日期</td>
                <td>操作</td>
            </tr>
        </thead>
        <tr>
            <tbody>
                <td>{{result[1]}}</td>
                <td>{{result[2]}}</td>
                <td>{{result[3]}}</td>
                <td>{{result[4]}}</td>
                <td>{{result[5]}}</td>
                <td>{{result[6][:10]}}</td>
                <td><a href="enquiry?email={{result[1]|escape}}&amp;delete=1">删除</a></td>
            </tbody>
        </tr>
    </table>
{% endif %}

{% endblock %}

</div>
