{% extends "base.html" %}
{% block body %}

<section class="header">
  <h2 class="title">免费获得giffgaff卡和&pound;5话费，就在这里。</h2>

  <img id="giffgaff-logo" src="/static/image/giffgaff-logo.png"  alt="giffgaff logo" />
  <br>
  <a class="button button-primary" id="head-button" href="#intro">快去看看</a>
  &nbsp;&nbsp;&nbsp;
  <a class="button button-primary" id="head-button" href="#forms">直接申请</a>
  <div class="value-props row">
    <div class="four columns value-prop">
      <img class="front-logo" src="/static/image/multiple.png"  alt="giffgaff logo" />
      <br>
      利物浦中国学生使用最多的电话卡
    </div>
    <div class="four columns value-prop">
      <img class="front-logo" src="/static/image/phone.png"  alt="giffgaff logo" />
      <br>
      往国内打电话费用仅需0.2元/分钟
    </div>
    <div class="four columns value-prop">
      <img class="front-logo" src="/static/image/free.png"  alt="giffgaff logo" />
      <br>
      giffgaff网间电话短信全免费
    </div>
  </div>
</section>



<div class="row">
  <div class="docs-section eight columns" id="intro">


    <h6 class="docs-header">giffgaff简介</h6>
    <p>
      giffgaff是英国的一家移动虚拟网络运营商，使用O2的网络，是O2的全资公司。<br>
      g卡的一个卖点是：g卡之间相互发短信和打电话都是免费的。<br>
      并且在利物浦的大多数中国学生用的都是g卡。<br>
      而且，giffgaff已经有4G了！一到英国就可以享受无比快速的4G服务了！
    </P>



    <h6 class="docs-header">发卡流程</h6>
    <ol>
      <li>在右侧的申请表填写信息申请</li>
      <li>在五月初我们会通过邮箱通知具体发放时间和地点（六月初，西浦）</li>
      <li>在指定时间和地点凭手机号码领卡</li>
      <li>在线激活，获得&pound;5话费</li>
    </ol>

  </div>

  <div class="docs-section four columns" id="forms">
    <h6 class="docs-header">申请表</h6>

    {# 表单放在这里 #}
    {# 先处理表单验证的错误信息 #}
    {% if errors %}
    <div class="error-msg">
      <h6 class="docs-header error-msg">错误</h6>
      <ul>
          {% for error_msg in errors %}
            <li>{{ error_msg }}</li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}


    {# 提交成功后的信息 #}
    {% if ok_flag %}
    <div class="success-msg">
      <h6 class="docs-header success-msg">成功</h6>
      <ul>
        <li>提交成功！查看接下来的后续流程。你也可以在这里<a href="enquiry">查询</a>你的预定状态。</li>
      </ul>
    </div>
    {% endif %}

    
    <form method='POST' action='index#forms'>

      <label>邮箱</label>
      <input class="u-full-width" type="text" name="email" placeholder="后续通知将会发放到你的邮箱里"/>

      <label>姓名</label>
      <input class="u-full-width" type="text" name="name"/>

      <label>电话</label>
      <input class="u-full-width" type="text" name="phone" placeholder="手机号将会作为日后领卡的凭证"/>

      <div class="row">
        <div class="six columns">
          <label>Nano卡数量</label>
          <select class="u-full-width"  name="nano_qty">
            <option value=0 selected="selected">0</option>
            {% for i in range(1,9) %}
                <option value={{i}}>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="six columns">
          <label>Micro卡数量</label>
          <select class="u-full-width" name="micro_qty">
          <option value=0 selected="selected">0</option>
          {% for i in range(1,9) %}
              <option value={{i}}>{{i}}</option>
          {% endfor %}
          </select>
        </div>
      </div>

      <div class="row captcha">
        <div class="six columns">
        <label>验证码</label>
          <img src="{{ url_for('static',filename='captcha.png') }}"/>
        </div>
        <div class="six columns">
          <input class="u-full-width" type="text" name="captcha"/>
        </div>
      </div>
      <br>
      <input class="button-primary" id="form-button" type="submit" value="提交订单">
    </form>

  </div>

</div>

<div class="docs-section" id="price">
  <div class="row">
    <div class="six columns">
      <h6 class="docs-header">资费详情</h6>
      <table class="u-full-width">
        <thead>
          <tr><th>往中国打</th><th>价格</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>座机</td>
            <td>2p</td>
          </tr>
          <tr>
            <td>移动电话</td>
            <td>2p</td>
          </tr>
          <tr>
            <td>短信</td>
            <td>8p</td>
          </tr>
          <tr>
            <td>彩信</td>
            <td>24p</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="six columns">
      <h6 class="docs-header">英国国内通话（与其他运营商比较）</h6>
      <table class="u-full-width">
        <thead>
          <tr><th>运营商</th><th>价格</th></tr>
        </thead>
        <tbody>
          <tr><td>giffgaff</td><td>10p</td></tr>
          <tr><td>O2</td><td>25p</td></tr>
          <tr><td>Vodafone</td><td>25p</td></tr>
          <tr><td>T-mobile</td><td>25p</td></tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">

    <div class="six columns">
      <h6 class="docs-header">3G套餐</h6>
      <table class="u-full-width">
        <thead>
          <tr><th>月租</th><th>电话</th><th>短信</th><th>流量</th></tr>
        </thead>
        <tbody>
          <tr><td>&pound;5</td><td>60+</td><td>300</td><td>20MB</td></tr>
          <tr><td>&pound;7.5</td><td>200</td><td>无限</td><td>250MB</td></tr>
          <tr><td>&pound;10</td><td>500</td><td>无限</td><td>1GB</td></tr>
          <tr><td>&pound;12</td><td>250</td><td>无限</td><td>无限</td></tr>
          <tr><td>&pound;15</td><td>500</td><td>无限</td><td>无限</td></tr>
          <tr><td>&pound;18</td><td>2,000</td><td>无限</td><td>无限</td></tr>
        </tbody>
      </table>
      注：1p=&yen0.1，&pound;1=&yen10
    </div>


    <div class="six columns">
      <h6 class="docs-header">4G套餐</h6>
      <table class="u-full-width">
        <thead>
          <tr><th>月租</th><th>电话</th><th>短信</th><th>流量</th></tr>
        </thead>
        <tbody>
          <tr><td>&pound;12</td><td>500</td><td>无限</td><td>1GB</td></tr>
          <tr><td>&pound;15</td><td>500</td><td>无限</td><td>3GB</td></tr>
          <tr><td>&pound;18</td><td>1,00</td><td>无限</td><td>5GB</td></tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="docs-section" id="contact">
  <h6 class="docs-header">联系我们</h6>
</div>
{% endblock %}
