{% extends "base.html" %}
{% block body %}

<section class="header">
  <h2 class="title">免费获得 giffgaff 卡和 &pound;5 话费，就在这里。</h2>

  <img id="giffgaff-logo" src="/static/image/giffgaff-logo.png"  alt="giffgaff logo" />
  <br>
  <a class="button button-primary" id="head-button" href="#intro">快去看看</a>
  &nbsp;&nbsp;&nbsp;
  <a class="button button-primary" id="head-button" href="#forms">直接申请</a>
  <span id="detail"></span>
  <div class="value-props row">
    <div class="four columns value-prop">
      <img class="front-logo" src="/static/image/multiple.png"  alt="giffgaff logo" />
      <br>
      利物浦中国学生使用最多的电话卡
    </div>
    <div class="four columns value-prop">
      <img class="front-logo" src="/static/image/phone.png"  alt="giffgaff logo" />
      <br>
      往国内打电话费用仅需 0.2 元/分钟
    </div>
    <div class="four columns value-prop">
      <img class="front-logo" src="/static/image/free.png"  alt="giffgaff logo" />
      <br>
      giffgaff 网内电话短信全免费
    </div>
  </div>
</section>



<div class="docs-section">
    {# 提交成功后的信息 #}
    {% if ok_flag %}
    <div class="success-msg">
      <h6 class="docs-header success-msg">成功</h6>
      <ul>
        <li>已向您发送确认邮件。您无需任何操作，但若未收到邮件，则可能邮箱填写错误。</li>
        <li>
            你可以在 <a href="enquiry" target="_blank">这里</a> 查询预定状态。重新提交需在查询页面先删除订单。
        </li>
        <li>觉得很棒？帮助我们 <a href="#share">分享</a> 吧！</li>
      </ul>
    </div>
    {% endif %}
    <div class="row">
      <div class="eight columns" id="intro">
        <h6 class="docs-header">giffgaff简介</h6>
        <p>
          giffgaff 是英国的一家移动虚拟网络运营商，使用 O2 的网络，是 O2 的全资公司。<br>
          g 卡的一个卖点是：g 卡之间相互发短信和打电话都是免费的。<br>
          giffgaff 也是在利物浦的中国留学生用的最多的卡。<br>
          现在申请，激活后免费领取卡内自带 &pound;5 话费。<br>
          giffgaff 现已支持 4G 网络，激活时选择 4G 套餐即可享用飞速网络。<br>
          国内激活后立刻拥有可用的英国电话号码，即使在转机时也能向父母报平安！
        </P>

        <h6>
            注：更多信息请参照 <a href="https://giffgaff.com/" target="_blank">giffgaff 官网</a>。
        </h6>

        <h6 class="docs-header">发卡流程</h6>
        <p>我们提供两种发卡选择：</p>

        <u>现场发卡</u>（限西浦）
        <ol>
            <li>填写右侧表单，邮箱将作为查询凭证，也将接收以后的通知，请正确填写。</li>
            <li>五月初会通过邮箱通知发放时间和地点，预计为六月初在西浦发放。</li>
            <li>在指定时间，以您的手机号为凭证领卡，请确保手机号填写正确。</li>
        </ol>

        <u>快递发卡</u>
        <ol>
          <li>我们将在 2 月中旬运一批卡回国，可以用快递发卡给您。</li>
          <li>如果您希望更快拿到卡，请不要填写表单。点这里利用淘宝来购买。</li>
          <li>为避免不必要的浪费，我们将收取快递费 6 元 / 单。
        </ol>

        <p>
            我们推荐西浦同学现场拿卡。初次激活选取的套餐即刻开始计费，一般出国前再激活即可。<br>
            拿到卡后请参考我们的 <a href="activate">教程</a> 来激活。激活后可以获取 giffgaff 赠送的额外 &pound;5 话费。
        </p>

        有任何困惑？立刻 <a href="about">联系我们</a> ！<br>
      </div>

      <div class="four columns" id="forms">
        <h6 class="docs-header">申请表</h6>

        {# 表单放在这里 #}
        {# 先处理表单验证的错误信息 #}
        {% if errors %}
        <div class="error-msg">
          <h6 class="docs-header error-msg">错误</h6>
          <ul>
              {% for error_msg in errors %}
                <li>{{ error_msg }}</li>
              {% endfor %}
          </ul>
        </div>
        {% endif %}

        <form method='POST' action='index#detail'>

          <label>邮箱</label>
          <input class="u-full-width" type="text" name="email"/>

          <label>姓名</label>
          <input class="u-full-width" type="text" name="name"/>

          <label>电话</label>
          <input class="u-full-width" type="text" name="phone"/>

          <div class="row">
            <div class="six columns">
              <label>Nano 卡数量</label>
              <select class="u-full-width"  name="nano_qty">
                <option value=0 selected="selected">0</option>
                {% for i in range(1,5) %}
                    <option value={{i}}>{{i}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="six columns">
              <label>Micro 卡数量</label>
              <select class="u-full-width" name="micro_qty">
              <option value=0 selected="selected">0</option>
              {% for i in range(1,5) %}
                  <option value={{i}}>{{i}}</option>
              {% endfor %}
              </select>
            </div>
          </div>

          <div class="row captcha">
            <div class="six columns">
            <label>验证码</label>
              <img src="{{ url_for('static',filename='captcha.png') | randSuffix }}"/>
            </div>
            <div class="six columns">
              <input class="u-full-width" type="text" name="captcha"/>
            </div>
          </div>
          <br>
          <input class="button-primary" id="form-button" type="submit" value="提交订单">
        </form>

      </div>

    </div>
</div>

<div class="docs-section" id="price">
  <div class="row">
    <div class="six columns">
      <h6 class="docs-header">资费详情</h6>
      <table class="u-full-width">
        <thead>
          <tr><th>往中国打</th><th>价格</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>座机</td>
            <td>2p</td>
          </tr>
          <tr>
            <td>移动电话</td>
            <td>2p</td>
          </tr>
          <tr>
            <td>短信</td>
            <td>8p</td>
          </tr>
          <tr>
            <td>彩信</td>
            <td>24p</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="six columns">
      <h6 class="docs-header">英国国内通话（与其他运营商比较）</h6>
      <table class="u-full-width">
        <thead>
          <tr><th>运营商</th><th>价格</th></tr>
        </thead>
        <tbody>
          <tr><td>giffgaff</td><td>10p</td></tr>
          <tr><td>O2</td><td>25p</td></tr>
          <tr><td>Vodafone</td><td>25p</td></tr>
          <tr><td>T-mobile</td><td>25p</td></tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">

    <div class="six columns">
      <h6 class="docs-header">3G套餐</h6>
      <table class="u-full-width">
        <thead>
          <tr><th>月租</th><th>电话</th><th>短信</th><th>流量</th></tr>
        </thead>
        <tbody>
          <tr><td>&pound;5</td><td>60+</td><td>300</td><td>20MB</td></tr>
          <tr><td>&pound;7.5</td><td>200</td><td>无限</td><td>250MB</td></tr>
          <tr><td>&pound;10</td><td>500</td><td>无限</td><td>1GB</td></tr>
          <tr><td>&pound;12</td><td>250</td><td>无限</td><td>无限</td></tr>
          <tr><td>&pound;15</td><td>500</td><td>无限</td><td>无限</td></tr>
          <tr><td>&pound;18</td><td>2,000</td><td>无限</td><td>无限</td></tr>
        </tbody>
      </table>

    </div>

    <div class="six columns">
      <h6 class="docs-header">4G套餐</h6>
      <table class="u-full-width">
        <thead>
          <tr><th>月租</th><th>电话</th><th>短信</th><th>流量</th></tr>
        </thead>
        <tbody>
          <tr><td>&pound;12</td><td>500</td><td>无限</td><td>1GB</td></tr>
          <tr><td>&pound;15</td><td>500</td><td>无限</td><td>3GB</td></tr>
          <tr><td>&pound;18</td><td>1,00</td><td>无限</td><td>5GB</td></tr>
        </tbody>
      </table>
    </div>

  </div>
  注：1p = &yen0.1，&pound;1 = &yen10。G 卡之间电话、短信全免费。
</div>

<div class="docs-section" id="share">
    <h6 class="docs-header">帮助分享</h6>
    <p>是否觉得免费 giffgaff 卡很酷炫呢？请点击下面的链接，把这个好消息分享给你的朋友吧！</p>

    <!-- Baidu Button BEGIN -->

    <div id="bdshare" class="bdshare_t get-codes-bdshare">
      分享到：
      <a class="bds_tsina">微博</a>
      <a class="bds_renren">人人</a>
      <!-- <a class="bds_weixin">微信</a> -->
      <a class="bds_tqq">腾讯</a>
      <a class="bds_qzone">QQ</a>
      <a class="bds_fbook">Facebook</a>
      <a class="bds_twi">Twitter</a>
    </div>
    <br>
    <script type="text/javascript" id="bdshare_js" data="type=tools&mini=1" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
        //在这里定义bds_config
        var bds_config = {'bdText':'利物浦中国留学生最常用的电话卡：giffgaff电话卡，现在对西浦2+2同学们免费发放啦！',
        'bdPic':'http://giffgaff.duapp.com/static/image/giffgaff-logo.png',
        'wbUid':'2327892814'}


        document.getElementById('bdshell_js').src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
    </script>
    <!-- Baidu Button END -->

</div>
{% endblock %}
